*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/images/bg-desktop.svg);
    background-color:   hsl(257, 40%, 49%);
}

.cont{
    max-width: 1200px;
    margin: 0 auto;
    
}

.cont2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.images1{ 
    margin-top: 30px ;
}

.cont2 .images{
    margin-top: 80px;
}


.itm h1{
    font-weight: 900px;
    color: white;
    margin-bottom: 50px;
    font-size: 2.5em;
}

p{
    color: white;
    font-weight: 400px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.itm{
    margin-left: 50px;
}

button{
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius:20px;
    text-align: center;
    color: hsl(257, 40%, 49%);
    font-size: 20px;
    border: none;
}